h1.header,h2.header,h3.header{
    text-align: center;
}

.link{
    font-size: large;
    text-align: center;
}

a:visited{
    color: royalblue;
}

a:active{
    color: violet;
}

a:hover{
    color: lawngreen;
}